<ul>
  <li>Name: <%= profile.name %></li>
  <li>Nickname: <%= profile.nickname %></li>
  <li>Date of birth: <%= profile.dob.strftime('%d/%m/%Y') %></li>
  <li>Telephone: <%= profile.telephone %></li>
  <li>Address: <%= profile.address %></li>
</ul>