<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %></p>
<p>Address: <%= @user.address.state if @user.address%></p>

<p>Card: <%= @user.card if @user.card%></p>
<p>BankInfo: <%= @user.bank_info.name if @user.bank_info%></p>

<div>Post:</div>
<ul>
  <% @user.posts.each do |post| %>
    <li>
      <%= post.title %>
    </li>
  <% end %>
</ul>

<div>Event:</div>
<ul>
  <% @user.events.each do |event| %>
    <li>
      <%= event.name %>
    </li>
  <% end %>
</ul>
