<%= form_with model: post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: post.user_id %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>