<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p>
  <div>Author: <%= @post.author.email %></div>
  <div>Created at: <%= @post.created_at %></div>
  <div>Updated at: <%= @post.updated_at %></div>
</p>

<p>Comments:</p>
<ul>
  <%= render @post.comments %>
</ul>

<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p> 
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>



<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Destroy", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>